<section class="posts">
<article class="post-article" *ngIf="post">
    <div class="header-wrapper">
        <h3>{{post.author}}</h3>
        <h3>{{post.postTitle}} </h3>
        <time>{{post.createdOn | date: 'MMM d, y, h:mm:ss a'}}</time>
    </div>
    <div class="info-wrapper">
        <p>{{post.postText}}</p>
    </div>
    <div class="button-wrapper">
        <i class="fa-solid fa-comment"> {{post.comments.length -1}}</i>
        <i class="fa-solid fa-thumbs-up" (click)="voteUP()"></i>
        <p>Likes: {{post.likes}}</p>
    </div>
    <div class="comment-wrapper" *ngIf="post.comments.length > 1">
        <ul *ngFor="let comment of post.comments">
            <li *ngIf="comment.length > 1">
                <p class="comment">{{comment[0]}}: {{comment[1]}} {{comment[2] |date: 'MMM d, y, h:mm:ss a' }}</p>
            </li>
        </ul>
    </div>
    <form #newComment="ngForm" (ngSubmit)="submitComment(newComment)" class="comment--form">
        <input #comment="ngModel" ngModel required id="comment" class="form-input" type="text"
            aria-label="default input example" placeholder="Your comment here" name="comment" />
        <ng-container *ngIf="comment.touched && comment.invalid">
            <p *ngIf="comment?.errors?.['required']" id="error">
                Write your comment!
            </p>
            <p *ngIf="comment?.errors?.['minlength']" id="error">
                Comment must be at least 5 characters long.
            </p>
        </ng-container>
        <button type="submit" class="post--btn" >Post</button>
    </form>
    <button (click)="goBack()" >Go Back</button>
</article>
</section>