<ng-template #showRegister>
<form onSubmit={} class="login-register--form register">
    <div class="form-group">
        <h1>Create new Account</h1>
        <p class="label">Email address</p>
        <input type="email" class="form-control" aria-describedby="emailHelp" name="email"
            placeholder="Enter your email" #userEmail required/>
        <p class="email-info">We'll never share your email with anyone else.</p>
    </div>
    <div class="form-group">
        <p class="label">Password</p>
        <input type="password" class="form-control" id="password--input" name="password" placeholder="Password"
            #userPassword required />
    </div>
    <div class="form-group">
        <p class="label">Repeat Password</p>
        <input type="password" class="form-control" id="repeatPass--input" name="rePassword"
            placeholder="Repeat Password" #userRePassword required />
    </div>
    <button type="button" class="submit--btn" (click)="auth.SignUp(userEmail.value, userPassword.value, userRePassword.value)">Submit</button>
</form>
</ng-template>

<app-error-page *ngIf="fbAuth.user; else showRegister"></app-error-page>