<footer class="footer">
    All Rights Reserved &copy;
    <a href="https://github.com/ivulchev"><i class="fab fa-github-square"></i> GitHub Profile </a>
    <a href="https://www.linkedin.com/in/ivan-valchev-451922230"><i class="fab fa-linkedin"></i> LinkedIn Profile
    </a>
    <p> <i class="fas fa-envelope"></i> ivulchev1@gmail.com</p>
    <p><i class="fas fa-phone-square-alt"></i> +359892066372</p>
    <a routerLink="/about"><i class="fa-solid fa-circle-info"></i> About Website and Me</a>
    <a href="#">Back to Top <i class="fa-solid fa-circle-up"></i></a>
</footer>