.short--info{
    width: 100%;
    box-sizing: border-box;
    padding: 15px 80px;
    background-image: linear-gradient(to bottom, #270806, #4b0d12, #730c18, #9c071a, #c60218, #c60218, #c60218, #c60218, #9c071a, #730c18, #4b0d12, #270806);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.short--info .logo{
    width: 10%;
    background-color: white;
    padding: 20px;
    border-radius: 100%;
}

.short--info .stadium--photo{
    width: 25%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 35px;
    color: white;
}

.wrapper h2{
    font-size: 45px;
    color:white;
    font-weight: 700;
}

.wrapper.TOT,
.wrapper.LEE,
.wrapper.TOT h2,
.wrapper.LEE h2{
    color: black;
}

/* COLORS */
.short--info.MUN{
    background-image: linear-gradient(to bottom, #c60218, #df2339, #c60218);
}

.short--info.CHE{
    background-image: linear-gradient(to bottom,  #032c64, #0a4595, #032c64);
}

.short--info.NEW{
    background-image: linear-gradient(to bottom,  #242323, #504e4e, #242323);
}

.short--info.WAT{
    background-image: linear-gradient(to bottom,  #fe0, rgb(231, 222, 88), #fe0);
}

.short--info.WOL{
    background-image: linear-gradient(to bottom,  #f9a01b, #f7b758, #f9a01b);
}
.short--info.LIV{
    background-image: linear-gradient(to bottom,  #e31b23, #d3595d, #e31b23);
}

.short--info.SOU{
    background-image: linear-gradient(to bottom,  #d71920, #bb4a4e, #d71920);
}

.short--info.ARS{
    background-image: linear-gradient(to bottom,  #fe0002, #d84141, #fe0002);
}

.short--info.BUR{
    background-image: linear-gradient(to bottom,  #6a003a, #912f65, #6a003a);
}

.short--info.EVE{
    background-image: linear-gradient(to bottom,  #00369c, #476aaa, #00369c);
}

.short--info.LEI{
    background-image: linear-gradient(to bottom,  #273e8a, #58689c, #273e8a);
}

.short--info.TOT,
.short--info.LEE{
    background-image: linear-gradient(to bottom,  #f5f5f5, #ffffff, #f5f5f5);
}

.short--info.WES{
    background-image: linear-gradient(to bottom,  #7d2c3b, #ad5d6c, #7d2c3b);
}

.short--info.MAC{
    background-image: linear-gradient(to bottom,  #6caee0, #a6d4f7, #6caee0);
}

.short--info.BRI{
    background-image: linear-gradient(to bottom,  #0054a6, #3371af, #0054a6);
}

.short--info.CRY{
    background-image: linear-gradient(to bottom,  #eb302e, #e97877, #eb302e);
}

.short--info.BRE{
    background-image: linear-gradient(to bottom,  #c61d23, rgb(238, 160, 159), #c61d23);
}

.short--info.AST{
    background-image: linear-gradient(to bottom,  #480025, #70294e, #480025);
}

.short--info.NOR{
    background-image: linear-gradient(to bottom,  #00a94f, #4ec083, #00a94f);
}




/* PLAYERS */
.players{
    padding: 20px;
}
.players li{
    display: inline-block;
    
}


.player--card{
    border-radius: 12px;
    position: relative;
    width: 280px;
    padding: 10px;
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: -16px 9px 29px 11px rgba(0,0,0,0.4);
}

.player--card:hover{
    margin: 0;
    width: 304px;
}

.upper-wrapper span{
    display: block;
    text-align: center;
}

.player--name--card{
    display: block;
    color: black;
    font-size: 24px;
    font-weight: 500;
}
.upper-wrapper{
    display: flex;
    flex-direction:row;
}

.bottom-wrapper span{
    display: block;
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
}


.player--photo{
    width: 40%;
}

.team--logo--card{
    width: 30%;
    margin:10px
}
