.short--info{
    width: 100%;
    box-sizing: border-box;
    padding: 15px 80px;
    background-image: linear-gradient(to bottom, #270806, #4b0d12, #730c18, #9c071a, #c60218, #c60218, #c60218, #c60218, #9c071a, #730c18, #4b0d12, #270806);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.short--info .logo{
    width: 10%;
    background-color: white;
    padding: 20px;
    border-radius: 100%;
}

.short--info .stadium--photo{
    width: 25%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 35px;
    color: white;
}

.wrapper h2{
    font-size: 45px;
    color:white;
    font-weight: 700;
}


/* COLORS */
.short--info.MUN{
    background-image: linear-gradient(to bottom, #270806, #4b0d12, #730c18, #9c071a, #c60218, #c60218, #c60218, #c60218, #9c071a, #730c18, #4b0d12, #270806);
}

.short--info.CHE{
    background-image: linear-gradient(to bottom,  #032c64, #0a4595, #032c64);
}

.coach--details,
.coach--details ul{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.coach--details img{
    width: 30%;
}

.coach--details h2{
    font-size: 45px;
    color:white;
    font-weight: 700;
}

/* PLAYERS */
.players{
    padding: 20px;
}
.players li{
    display: inline-block;
    margin: 10px;
}


.player--card{
    position: relative;
    width: 280px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(190, 186, 186);
}

.player--card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
}


.player--photo{
    width: 40%;
}

.team--logo--card{
    width: 20%;
}
.card--wrapper span{
    display: block;
    margin: 5px;
    font-size: 20px;
}
