<form onSubmit={} class="login-register--form">
    <h1>Log in</h1>
    <p>Enter your credentials to access your account.</p>
    <div class="form--login">
        <p class="label" >Email address</p>
        <input type="email" name="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter your email" #userEmail required/>
    </div>
    <div class="form--login">
        <p class="label"  >Password</p>
        <input type="password" name="password" class="form-control"  placeholder="Enter your password" #userPassword required/>
    </div>
    <button type="button" class="submit--btn" (click)="auth.SignIn(userEmail.value, userPassword.value)">Login</button>
    <p class="not--member"> Not a member? <a href="/register" class="sign--up--link">Sign up</a></p>
</form>
