<section class="create-section">
<form #newThemeForm="ngForm" (ngSubmit)="submitNewTheme(newThemeForm)" class="create--form">
    <div class="form-group">
        <h1 > Create your post</h1>
        <p>Share you thoughts with your friends</p>
        <label for="postTitle" >Title</label>
        <input #postTitle="ngModel" ngModel required id="postTitle" class="form-input" type="text" aria-label="default input example" placeholder="Title here..." name="postTitle" />
        <ng-container *ngIf="postTitle.touched && postTitle.invalid">
            <p *ngIf="postTitle?.errors?.['required']" id="error">
                Theme name is required.
            </p>
            <p *ngIf="postTitle?.errors?.['minlength']" id="error">
                Theme name must be at least 5 characters long.
            </p>
        </ng-container>
        <label for="text-area" >Text</label>
        <textarea #postText="ngModel" type="text" name="postText" ngModel id="postText"  class="height" required minlength="10"></textarea>
        <ng-container *ngIf="postText.touched && postText.invalid">
            <p *ngIf="postText?.errors?.['required']" id="error">
                The field with your post is required.
            </p>
            <p *ngIf="postText?.errors?.['minlength']" id="error">
                Post must be at least 10 characters long.
            </p>
        </ng-container>
        <label for="image-url" >Image URL</label>
        <input #imageURL="ngModel" ngModel required type="text" class="form-input" placeholder="Paste your image url here..." name="imageURL"  />
        <ng-container *ngIf="imageURL.touched && imageURL.invalid">
            <p *ngIf="imageURL?.errors?.['required']" id="error">
                Image URL is required.
            </p>
        </ng-container>
        <button type="button" class="post--btn" >Post</button>
    </div>
</form>
</section>
