
table{
    width: 90%;
    margin: 1.5% 0;
    margin-left: 5%;
    font-family: 'PremierSans-Regular',Arial,'Helvetica Neue',Helvetica,sans-serif;
    display: inline-block;
    border-collapse: collapse;
    overflow: hidden;
    background-color: white;
    padding: 10px 0;
}


.logo{
    content: " ";
    background: url("https://www.premierleague.com/resources/prod/89ca2b2-3842/i/sprites/global-sprite.png") -227px -366px no-repeat;
    width: 170px;
    height: 28px;
    display: block;
    margin-left: 35px;
    margin-bottom: 20px;
}

tbody td,
tbody th,
thead th,
tbody a{
    font-weight: 700;
    padding: 1%;
    min-width: 100px;
    line-height: 1.5rem;
    text-align: center;
    align-items: center;
}

tbody img{
    width: 42px;
    position: absolute;
    top: -5px;
    left: -45px;
}
tbody a{
    display: block;
    padding-left: 10px ;
    position: relative;
    min-width: 100px;
    text-align: left;
    text-decoration: none;
    color: #333;

}